@use 'mixins/mixins' as *;

@include b(layout) {
  width: 100%;

  @include b(layout-toolbar) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;

    @include b(layout-toolbar-size) {
      display: flex;
      flex-direction: column;
    }
  }
}

@include b(layout-toolbar-btn) {
  & + & {
    margin-left: 8px;
  }
}
